**/target/
**/nb-configuration.xml
**.versionsBackup
**/nbproject/
**/nbactions.xml
**/dependency-reduced-pom.xml
**.iml
/target/
/.sonar
**/.idea
**.xml.versionsBackup
/speedment.iml
/nb-configuration.xml
/sonar-project.properties
*~
settings.properties
/nbproject/
/.settings/
/.classpath
/.project
/runtime/target/
/generator/target/
/tool/target/
/maven-plugin/target/
/tool/nbproject/
/runtime/nbproject/
*.iws
**/.DS_Store