**/target/
**/nbproject/
**/.settings/
**/.classpath
**/.project/
**/.sonar/
**/.DS_Store/
**/.idea/
**/.gradle/
**/build/

**/nb-configuration.xml
**/dependency-reduced-pom.xml
**/speedment.iml
**/nb-configuration.xml
**/sonar-project.properties
**/settings.properties
**/application.properties

*~
*.iml
*.iws
*.xml.versionsBackup
*.DS_Store

m\.sh
.project

webshop.db

runtime-parent/runtime-core/src/main/java/com/speedment/runtime/core/internal/component/InfoComponentImpl.javatmp
