**/target/
**/nbproject/
**/.settings/
**/.classpath/
**/.project/
**/.sonar/
**/.DS_Store/
**/.idea/

**/nb-configuration.xml
**/dependency-reduced-pom.xml
**/speedment.iml
**/nb-configuration.xml
**/sonar-project.properties
**/settings.properties
**/application.properties

*~
*.iml
*.iws
*.xml.versionsBackup
