language: java

script: mvn test -B -P headless
install: travis_wait 30 mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

jdk:
  #- oraclejdk8
  #- oraclejdk9
  #- openjdk10
  - openjdk11
  #- openjdk12
  #- openjdk-ea

addons:
  apt:
    packages:
      #- oracle-java8-installer
      #- oracle-java9-installer

dist: trusty
sudo: false

notifications:
  email:
    recipients:
      - dev@speedment.com
    on_success: never  # default: change
    on_failure: always # default: always

